
.shadow-1 {
    box-shadow: rgba(50, 50, 93, 0.05) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px !important;
}

.shadow-2 {
    box-shadow: rgba(50, 50, 93, 0.05) 0px 25px 40px -20px, rgba(0, 0, 0, 0.17) 0px 15px 30px -10px !important;
}
.shadow-3 {
    box-shadow: rgba(50, 50, 93, 0.05) 0px 25px 40px -20px, rgba(0, 0, 0, 0.05) 0px 15px 30px -10px !important;
}

.shadow-4 {
  box-shadow:  rgba(0, 0, 0, 0.08) 0px 10px 40px 0px !important;
}


.bg-glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.909);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(5px);
}

.bg-glass-red{
    background: rgba(255, 214, 214, 0.627);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.bg-glass-black{
    background: rgba(218, 214, 255, 0.627);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.bg-glass-2{
    // background: rgba(225, 225, 255, 0.8);
    background-image: linear-gradient( rgba(225, 225, 255, 0.648) 0%, rgba(172, 172, 241, 0.8) 100%);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
  }

.bg-glass-3{
    background-image: linear-gradient( rgba(66, 46, 247, 0.6) 0%, rgba(38, 20, 197, 0.75) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
  }

//   .bg-glass-3{
//     background: rgba(15, 9, 73, 0.8);
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(5px) !important;
//     -webkit-backdrop-filter: blur(5px) !important;
//   }

  .inner-shadow-1 {

    box-shadow:inset rgba(50, 50, 93, 0) 0px 50px 100px -20px,inset rgba(255, 255, 255, 0.384) 0px 50px 100px -30px , rgba(74, 84, 173, 0.5) 0px 120px 60px -100px !important;

   
}


.is-dragging {
    pointer-events: none !important;
}




// .carousel__slide {
//     padding: 5px;
//   }
  
//   .carousel__viewport {
//     perspective: 2000px;
//   }
  
//   .carousel__track {
//     transform-style: preserve-3d;
//   }
  
//   .carousel__slide--sliding {
//     transition: 0.5s;
//   }
  
//   .carousel__slide {
//     opacity: 0.5;
//     filter: blur(1px);
  
//     transform: rotateY(-10deg) scale(0.99);
//   }
  
  
  
//   .carousel__slide--prev {
//     opacity: 1;
//     filter: blur(0px);
  
//     transform: rotateY(-10deg) scale(0.99);
//   }
  
//   .carousel__slide--next {
//     opacity: 1;
//     filter: blur(0px);
    
  
  
//     transform: rotateY(10deg) scale(1);
//   }
  
//   .carousel__slide--active {
//     opacity: 1;
//     filter: blur(0px);
  
//     transform: rotateY(0) scale(1);
//   }






//   .bg {
//   animation:slide 4s ease-in-out infinite alternate;
//   background-image: linear-gradient(90deg, rgba(62, 47, 191, 0.919) 90%, rgba(17, 4, 60, 0.475) 90%);
//   bottom:100px;
//   left:0%;
//   filter: blur(30px);
//   width: 100% ;
//   overflow: hidden;
//   opacity:.3;
//   border-radius: 10%;
//   position:absolute;
//   right:0%;
//   top:0;
//   z-index:-1;
// }

// .bg2 {
//   animation-direction:alternate-reverse;
//   animation-duration:4s;
//   background: #9710cdd7;
// }

// .bg3 {
//   animation-duration:3.5s;
// }



@keyframes slide {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(0%);
  }
}

html,
body {
  overflow-x: hidden;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

* {
  scrollbar-color: rgb(80, 79, 79) rgba(255, 255, 255, 0);
}

.carousel__prev,
.carousel__next
{
border-radius: 30px !important;
margin: 0 16px;
padding: 4px !important;
width: 40px !important;
height: 40px !important;
display: flex;
justify-content: center;
align-items: center;
background: #ffffffaf !important;
filter: drop-shadow(0px 15px 30px rgba(51, 51, 51, 0.2));
box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.2);
}